:root {
  --primary-color: #3fca95;
  --font-color: #f2fff8;
  --secondary-font-color:#000000;
  --border-color: #51fcba;
  --secondary-border-color: rgb(37, 37, 37);
  --bg-color: #292b2c;
  --secondary-bg-color:#c0cebf;
  --box-shadow: 0 0 20px #51fcba41;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--bg-color);
}

textarea {
  background: transparent;
  resize: none;
  border:none;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--font-color);
  border-bottom: 4px solid var(--border-color);
  padding:0;
  height: 250px;
}

.customCard {
  outline: solid 1px  var(--border-color);;
  transition: outline 0.6s linear;
  border: none;
}

.customCard:hover{
  outline-width: 4px;
}

.customCard:focus {
  outline-width: 4px;
  outline: solid 4px  var(--border-color);;
  transition: outline 0.6s linear;
  border: none;
}

#currentDay {
  color:var(--primary-color);
}

.description {
  white-space: pre-wrap;
}

.row {  
  white-space: pre-wrap;
  height: 80px;
}

.hour {
 color: #e1e1ff;
  border-top: 2px solid var(--border-color);
  padding-top: 10px;
  padding-right: 40px;
}

.past {
  background-color: #d3d3d3;
  color: black;
  border-color:  var(--border-color);
  font-size: x-large;
  text-align: center;
}

.present {
  background-color: #ff6961;
  color: black;
  border-color:  var(--border-color);
  font-size: x-large;
  text-align: center;
}

.future {
  background-color: #77dd77;
  color: black;
  border-color:  var(--border-color);
  font-size: x-large;
  text-align: center;
}

.clearBtn {
  border-radius: 25px;
  width: 20%;
  height: 12%;
  background-color: var(--primary-color);
  color: #161616;
  font-size: 15px;
  bottom: 10px;
}

.resetP {
  margin:auto;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--primary-color);
  color: #e7e7e7;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

footer {
  color:var(--font-color);
  background-color:#292727 ;
  text-align: center;
  width: 100%;
  font-size: 13px;
}

.customPadding {
  padding-bottom: 100px;
  padding-left: 8%;
}

/*These rules take effect when the browser's width
is either 767px or less. 
*/

@media screen and (max-width: 767px) {       

 
  p{
    font-size: smaller;
  }
  .saveBtn i{
    font-size: 20px;
    position: relative;
    bottom:9px;
  }
}

/*
  These rules take effect when the browser's width
  is either 400px or less.
*/

@media screen and (max-width: 540px) {
  .jumbotron{
   height:320px
  }
  .hour{
    margin-right: 0px;
  }
  .saveBtn i{
    font-size: 17px;
    position: relative;
    bottom:10px;
  }
}